

/* -----------------MAIN RULE------------------- */
.my-container{
    width: 900px;
    height: 100vh;
    margin: 0 auto;
}

.img-container{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

img{
    width: 100%;
    height: 100%;
    object-position: center;
    display: none;
}



/* -----------------DEBUG----------------- */

